@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --cursor-color: black;
}

.dark {
  --cursor-color: white;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--cursor-color);
  }
}

.typewriter {
  @apply overflow-hidden whitespace-nowrap border-r-2 border-black;
  animation: typewriter 3s steps(40, end) 1s 1 normal both,
    blink 0.75s step-end infinite;
}

@media (max-width: 640px) {
  .typewriter {
    animation: none; /* Disable animation */
    border-right: none; /* Remove the blinking cursor */
    white-space: normal; /* Allow text to wrap */
  }
}
