@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --cursor-color: black;
}

.dark {
  --cursor-color: white;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes delete {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

@keyframes blink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--cursor-color);
  }
}

.typewriter {
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid var(--cursor-color); /* Cursor */
  animation: typewriter 3s steps(40, end) 1s 1 normal both,
    blink 0.75s step-end infinite;
}

.typewriter2 {
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid var(--cursor-color); /* Cursor */
  animation: typewriter 3s steps(40, end) 1s 1 normal both,
    delete 1.5s steps(40, end) 4.5s 1 normal forwards,
    blink 0.75s step-end infinite;
  animation-delay: 4.6s;
}

@media (max-width: 640px) {
  .typewriter {
    animation: none; /* Disable animation */
    border-right: none; /* Remove the blinking cursor */
    white-space: normal; /* Allow text to wrap */
  }
}
